body {
    display: block;
    width: 725px;
    margin: 0 auto;
    background-image: url(./img/background.png); 
    font-family: 'Architects Daughter', cursive, sans-serif;
}

header {
    margin: 15px 0 0 0;
    text-align: center;  
}

h1 {
     margin: 0 auto;
}

.picture {
    width: 220px;
    border-radius: 150px;
}

.navbar ul {
    display: flex;
    list-style-type: none; 
    width: 530px;;
    justify-content: space-between;
}

.navbar ul li a:link {
    display: flex;
    width: 100px;
    color: #000;
    border-color:  #696969;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}

.navbar ul li a:hover {
    border-radius: 60px;
    border: 3px solid  #696969;
}

#panda {
    width: 215px;
    position: fixed;
    top: 450px;
    left: 0px;
}

